doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Биржа автозапчастей' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    //- include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        .row
          .col-sm-3
            .h1.h1--dark.h1--adaptive о компании
            
            nav(role="navigation").navigation-level2
              ul
                li.active: a(href="#") Auto Parts Market
                li: a(href="#") Почему мы?
                li: a(href="#") Наши направления
                li: a(href="#") Клиентам
            
          .col-sm-9
            h1 АРМ
            
            p Auto Parts Market Биржа Авто Запчастей - это комплексное решение по увеличению прибыли любой компании работающей в сфере автобизнеса.
            p Основным нашим направлением является оптовая поставка запчастей на японские, корейские и немецкие автомобили.
            p На нашем складе постоянно поддерживается в наличии большой ассортимент деталей и комплектующих. У нас вы найдёте как оригинальные запчасти так и сертифицированные дубликаты для автомобилей всех серий выпуска.
            p
              img(src="./tmp/new/img-about.png", alt="").img-responsive
              
            .clear
              
            // Block width blue border
            .about__block.about__block--why
              .h1 
                span ПОЧЕМУ
                small МЫ В ЭТОМ БИЗНЕСЕ
              
              .clear
                
              p Мы любим автомобили и чувствуем эту уникальную связь, которая существует между человеком и его авто не зависимо от марки, года выпуска и назначения.
              p Поэтому мы поставляем только качественный и проверенный товар, ориентируясь на долгосрочную перспективу, а также всегда несем ответственность за результат!
              p Мы уважаем своих клиентов, делая все для экономии их денег и времени.
              p.about__block__p Мы видим огромное пространство для инноваций в этом бизнесе и внедряем собственные програмные разработки, чтобы максимально упростить процесс работы.
              p.no--margin Эффективность - наш приоритет!
              
              .about__block__map
                img(src="./tmp/new/img-map.png", alt="").img-responsive
              
            .h1 НАШИ НАПРАВЛЕНИЯ
            ul.list.list--check
              li Поставки со склада в Киеве
              li Поставки со складов по всему миру
              li Коллективные закупки
              li Производство автозапчастей под заказ на фабриках Южной Кореи, Тайвани, Малайзии, Индии
              li Создание и продвижение вашего бренда под ключ
              li Транспортная логистика
              li Аудит и постановка системы обучения и развития вашего персонала
              
            .clear
              
            // Block width blue border
            .about__block.about__block--clients
              .h1 
                span КЛИЕНТАМ
                small Сотрудничая с компанией АРМ Вы получаете:
              
              .clear
              
              ul.list.list--check
                li Большой ассортимент оригинальных и неоригинальных запчастей
                li Возможность возврата товара
                li Конкурентная цена и гибкая ценовая политика
                li Минимальные сроки поставки
                li Регулярное обновление ассортимента
                li Доставка товара на наш склад
                li Автоматизация процесса обмена информацией (документы в согласованном электронном виде)
                li Техническую, информационную, маркетинговую поддержку на протяжении всего сотрудничества
                li Персонального менеджера и консультации по любым вопросам
                li Возможность оперативного заказа через онлайн портал с удобным меню пользователя
                li Отслеживание статуса заказа в режиме реального времени
                li Взаимовыгодные условия сотрудничества
              
              .h5.h5--intro Как начать сотрудничество?
              p.text-justify Статус клиента компании дает преимущество в информационной поддержке с нашей стороны - клиент, в отличие от гостя получает информацию о наличии интересующих его товарных групп на складе. Получить статус клиента можно только после прохождения регистрации и оформления первой покупки.
    
    include ./_include/_footer
    //- div(style="height: 900px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom

  
