doctype

html(lang="ru")
  
  -var active = 'Новости' //активный пункт меню, список в header.jade
  -var pageTitle = 'Список новостей' + ' - Биржа автозапчастей' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    //- include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        #client    
          .slider
            .h1.h1--dark.text-center Стать клиентом
            
            .viewport
              .items_container(style='left: 0;')
                .item
                  img(src='./tmp/slider/slider-1.png', alt='')
                .item
                  img(src='./tmp/slider/slider-2.png', alt='')
                .item
                  img(src='./tmp/slider/slider-3.png', alt='')
                .item
                  img(src='./tmp/slider/slider-4.png', alt='')
            .slider_navigation
              .nav_container
                .nav.left
                .nav.right
              ul.dots_container
          .text_box
            .item.active
              p Заполняем анкету онлайн
              p.link
                a(href='#!') Зарегистрироваться
            .item
              p Заключаем договор
            .item
              p Подключаем вас к прайсу
            .item
              p Включаем вас в маршрут доставок

    
    include ./_include/_footer
    //- div(style="height: 900px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom

    script.
      
      jQuery(function($){
      
        //slider
        function slider() {
            var slider = $('#client .slider'),
                text_box = slider.siblings('.text_box'),
                text_item = text_box.find('.item'),
                viewport = slider.find('.viewport'),
                items_container = slider.find('.items_container'),
                item = items_container.children('.item'),
                item_num = item.length,
                item_width = item.width(),
                slider_nav = slider.find('.nav_container'),
                left_nav = slider_nav.find('.left'),
                right_nav = slider_nav.find('.right'),
                dots_container = slider.find('.dots_container'),
                dot = function (index) {return '<li class="dot"><div class="highlight"></div><span>'+index+'</span></li>'},
                shift = 0,
                count = 0,
                true_count = 4,
                direction;
      
            console.log(item_width);
      
            items_container.css('width', item_num*item_width);
            item.each(function (index) {
                index++;
                dots_container.append(dot(index));
            });
            var dots = dots_container.find('.dot');
            dots.css('width', 100/item_num + '%');
      
            function setActive(count) {
                var eq = count;
                item.removeClass('active pre_active');
                item.eq(eq).addClass('active');
                item.eq(eq-1).addClass('pre_active');
                item.eq(eq+1).addClass('pre_active');
                text_item.removeClass('active');
                text_item.eq(eq).addClass('active');
            }
            setActive(count);
      
            function dots_magic(count, direction){
                var eq = count;
                dots.removeClass('active dir_left dir_right');
                if(direction == 'left'){
                    dots.eq(eq+1).addClass('dir_left');
                    dots.eq(eq).addClass('dir_right');
                    dots.eq(eq-1).addClass('dir_right');
                }else if(direction == 'right'){
                    dots.eq(eq-1).addClass('dir_right');
                    dots.eq(eq).addClass('dir_left');
                    dots.eq(eq+1).addClass('dir_left');
                }
                dots.eq(eq).addClass('active');
            }
            dots_magic(count);
      
            function unbin() {
                right_nav.off('click');
                left_nav.off('click');
            }
            function bin() {
                setTimeout(function () {
                    if (count < item_num-1){
                        right_nav.on('click', function (e) {
                            if(e.hasOwnProperty('originalEvent')){
                                unbin();
                                right();
                            }
                        });
                    }
                    if (count > 0){
                        left_nav.on('click', function (e) {
                            if(e.hasOwnProperty('originalEvent')) {
                                unbin();
                                left();
                            }
                        });
                    }
                }, 800);
            }
            function stage(count, direction) {
                shift = count*item_width;
                setActive(count);
                dots_magic(count, direction);
                items_container.css('left', -shift);
                bin();
            }
            function right() {
                count++;
                stage(count, 'right');
            }
            function left() {
                count--;
                stage(count, 'left');
            }
            bin();
      
        };
        slider();
      
      })
  
