doctype

html(lang="ru")
  
  -var active = 'Новости' //активный пункт меню, список в header.jade
  -var pageTitle = 'Список новостей' + ' - Биржа автозапчастей' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    //- include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content
      .container
        
        #client    
          .slider
            .h1.h1--dark.text-center Стать клиентом
            
            .viewport
              .items_container(style='left: 0;')
                .item
                  img(src='./tmp/slider/slider-1.png', alt='')
                .item
                  img(src='./tmp/slider/slider-2.png', alt='')
                .item
                  img(src='./tmp/slider/slider-3.png', alt='')
                .item
                  img(src='./tmp/slider/slider-4.png', alt='')
            .slider_navigation
              .nav_container
                .nav.left
                .nav.right
              ul.dots_container
          .text_box
            .item.active
              p Заполняем анкету онлайн
              p.link
                a(href='#!') Зарегистрироваться
            .item
              p Заключаем договор
            .item
              p Подключаем вас к прайсу
            .item
              p Включаем вас в маршрут доставок

    
    include ./_include/_footer
    //- div(style="height: 900px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Vendor.js
       Modernizr v2.8.3
       Plugins-scroll
    script(src='./js/libs/vendor.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom

  
