// Footer js

script(src='./js/libs/magnific-popup/jquery.magnific-popup.min.js')
script(src='./js/libs/bootstrap/bootstrap.min.js')
script(src='./js/libs/bootstrap/tab.js')
script(src='./js/libs/sumoselect/jquery.sumoselect.min.js')
script(src='./js/libs/nanoscroller/jquery.nanoscroller.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")
script(src="./js/libs/air-datepicker/dist/js/datepicker.min.js")


//- Old browser
  script.
    var $buoop = {vs:{i:10,f:30,o:25,s:7},c:2}; 
    function $buo_f(){ 
     var e = document.createElement("script"); 
     e.src = "http://browser-update.org/update.min.js"; 
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}


    
