#menu.user__navigation
  
  .text-right
    a(href="#").user__navigation__close
      i.ion-close

  // Profile photo
  .profile__photo
    img(src="./tmp/profile-photo.png", alt="").img-responsive

  nav(role="navigation").navigation-level2.navigation-level2--user
    ul
      li.active: a(href="#") Личный кабинет
      li: a(href="#") Мои Заказы
      li: a(href="#") Мои Сообщения
        span.label 23
      li: a(href="#") Состояние счета
      li: a(href="#") Состояние заказов
      li: a(href="#") Спец. предложения
      li: a(href="#") Мои Документы
      li: a(href="#") Мои Настройки
      
  .mobile-logo
    img(src="./img/mobile-logo.png", alt="")
