/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1919px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .footer
    &__navigation
      ul
        &>li
          padding: 0 3px
          &>a, &>span
    &__logo
      .span
        width: 250px

  .header
    &__navigation
      ul
        &>li
          padding: 0 5px
    &__right
      &>div
        &:last-child
          width: 50px
    &__wrapper
      &>div
        &.first
          width: 180px

  .news
    &__img
      height: 212px

  .special-offers
    &__block
      &>div
        &.first
          width: 213px

  .table-basic
    font-size: rem(12)
    &>tbody, &>tfoot, &>thead
      &>tr
        &>td, &>th,
          padding-left: 8px
          padding-right: 8px

  .user
    &__product
      &>div
        &:first-child
          width: 375px

  .hay
    &__block
      width: 227px
      height: 295px
    &__strong
      font-size: rem(85)
      left: 21px
      bottom: 28px
    &__text

      &::after
        left: 158px

  .auto
    &__block
      margin-right: 65px
      width: 286px
      height: 382px
    &__car
      &__border
        width: 286px
        height: 382px
      &__img
        width: 348px
    &__text
      font-size: rem(67)
      margin-right: 20px
      margin-top: 55px
      strong
        font-size: rem(47)
    &__background
      width: 163px
      top: 46px

  .btn
    &--auto-register
      height: 54px
      line-height: 54px
      width: 407px
      bottom: 63px
      margin-right: -70px

  .chat
    &__block, &__date
      margin-bottom: 25px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  h1, .h1
    font-size: rem(30)

  .footer
    &__navigation
      display: none

  .header
    &__logo
      img
        width: 12px
        background-position-y: 2px

    &__wrapper
      &>div
        &.first
          width: auto

  .content
    &__head
      &--register
        text-align: center

  .news
    &__img
      height: 157px

  .special-offers
    &__block
      &>div
        &.first
          width: 157px

  .navigation-level2
    &--user
      ul
        li
          .label
            right: 0
            top: 8px

  .user
    &__head
      margin-bottom: 10px
      .h1, h1
        display: block
        margin-bottom: 5px
        &+.user__head__label
          margin-left: 0

    &__product
      &>div
        &:first-child
          width: 220px

  .hay
    &__block
      width: 100%
      height: 198px
      margin-bottom: 44px
    &__strong
      font-size: rem(85)
      left: inherit
      right: 38px
      bottom: inherit
      top: 50%
      transform: translateY(-50%)
    &__text
      &::after
        display: none

  .auto
    &__block
      margin-top: 0

  .content
    &--main
      padding-bottom: 65px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .footer
    &__wrapper
      padding: 30px 0
      &>div.first
        width: auto
    &__logo
      margin: 0 auto
      .copyright
        display: block
      &>div
        vertical-align: top
      .span
        width: 280px

  .copyright
    white-space: normal
    float: none
    margin-top: 10px

  .header
    &__navigation
      display: none
      position: absolute
      z-index: 1000
      width: 100%
      top: 33px
      padding-top: 10px
      padding-bottom: 10px
      animation: visible 0.3s linear
      background: rgba($color-white, 0.9)
      ul
        &>li
          display: block
          &>a, &>span
            display: block
            height: 50px
            line-height: 50px
            &::after
              display: none
            &::before
              transform: rotate(0) translateX(-50%)
              left: 50%
              bottom: 0
              top: inherit
          &:last-child
            &>a, &>span
              &::before
                display: none
    &__button
      display: block
      margin: 0 auto
    &__menu
      position: relative
      max-width: 300px
      text-align: center
      margin: 0 auto
      &.is-open
        .header__navigation
          display: block

    &__wrapper
      &>div
        &.last
          width: 165px

  .navigation-level2
    border-bottom: 1px solid $color-gray

  .form__row__group--xs-block
    display: block
    &>div
      display: block
      &+div
        padding-top: 5px

  .news
    &__img
      height: 210px

  .special-offers
    &__block
      &>div
        &.first
          display: none
        &+div
          padding-left: 0 !important

  .user
    &__menu
      display: block

    &__navigation
      position: fixed
      background-color: #f8f8f8
      // background-color: pink
      z-index: 100
      top: 0
      bottom: 0
      height: 100%
      padding-top: 15px
      width: 290px
      // display: none
      box-shadow: 0 0 10px rgba($color-black, .5)
      overflow-y: auto
      z-index: 1000
      padding-bottom: 10px
      transform: translateX(-110%)
      transition: transform 0.7s cubic-bezier(0.545, 0, 0.05, 1)
      will-change: transform
      &.is-active
        transform: translateX(0)

      &__close
        color: $color-red
        font-size: rem(14)
        margin-bottom: 10px
        display: inline-block

    &__product
      &>div
        width: 100%
        display: block
        &:first-child
          width: 100%
          padding-bottom: 40px
        &+div
          padding-left: 0 !important
      &__img
        display: block
        max-width: 500px
        margin: 0 auto

  .navigation-level2
    border-bottom: 0
    padding-bottom: 0
    ul
      li
        border-bottom: 1px solid $color-gray
        a
          padding-top: 12px
          padding-bottom: 12px
        .label
          top: 13px
        &.active
          &::before
            top: 50%

  .mobile-logo
    position: absolute
    bottom: 10px
    text-align: center
    width: 260px

  .hay
    &__block
      width: 100%
      height: 212px
      // margin-bottom: 105px
      float: none
    &__strong
      left: 40px
      right: inherit
      transform: none
      top: inherit
      bottom: -28px
      z-index: 100
      &::after
        content: ''
        position: absolute
        height: 4px
        top: 50%
        margin-top: -3px
        background-color: $color-white
        width: 100%
        z-index: -1
        left: 0

  .content
    &--main
      padding-top: 0

  .auto
    &__block
      width: 250px
      height: 333px
      margin: 250px auto 0
      float: none
      right: -41px
    &__car
      &__border
        width: 250px
        height: 333px
      &__img
        width: 303px
    &__background
      width: 142px
      top: 40px
    &__text
      margin-top: -140px
      margin-right: -288px
      strong
        br
          display: none

  .btn
    &--auto-register
      margin-right: -290px
      bottom: 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)

  .footer
    &__logo
      &>div
        &:first-child
          display: none
        &+div
          padding-left: 0

  .header
    &__wrapper
      display: block
      &>div
        display: block
        width: 100%
        &.first
          display: none
        &.last
          width: 100%
    &__right
      float: none
      width: 100%
    &__enter
      &__button
        text-align: left
        // padding-left: 1px
        padding-right: 0
        .btn
          display: block
      &__body
        left: -1px
        right: -2px
        // width: 100%
        min-width: 290px
      &__wrapper
        width: 100%
        padding-bottom: 20px
      &__bottom
        display: block
        &>div
          display: block
        .btn
          display: block
          margin-bottom: 10px
          margin-top: 4px
          width: 100%
      &__link
        text-align: center
    &__button
      width: 100%
      margin-bottom: 20px

  .col-xxs-12
    width: 100% !important

  .table
    &--xxs-block
      display: block !important
      .table__cell
        display: block !important
        &+.table__cell
          padding-left: 0
          padding-top: 8px

  .btn
    &--xxs-block
      display: block !important
      width: 100% !important

  .h1
    &--afLine
      &::after
        display: none

  .navigation-level2
    &--help
      border-bottom: 0

  .form
    &__row__group--xxs-block
      display: block
      &>div
        display: block
        &+div
          padding-top: 5px
    &__group
      &--captcha
        display: block
        &>div
          display: block
          float: left
          &.first
            width: calc(100% - 130px)

          &.first
            label
              padding-top: 12px
              display: block
          &.center
            overflow: hidden
            width: 130px
            border-left: 1px solid $color-gray
            border-right: 1px solid $color-gray
            .captcha
              position: relative
              left: 50%
              transform: translateX(-50%)
          &.last
            width: 100%
            margin-top: -1px

      &--chat
        display: block
        border-top: 1px solid $color-gray
        padding-top: 40px
        overflow: hidden
        &>div
          display: block
          &:first-child
            width: calc(100% - 60px)
            float: left
          &:nth-child(2)
            float: left
          &:last-child
            padding-top: 40px
            float: left
            width: 100%
          &.center
            border-top: 0
            height: 40px
        .form-control
          border-top: 0

  .strong--frh480
    display: block
    margin-top: 5px

  .btn
    &--biggest
      font-size: rem(15)


  .tag
    margin-bottom: 40px

  .news
    &__img
      height: 280px

    &__calendar__month + .news__calendar__month
      margin-top: 10px

  .link-history
    margin-right: -95px

  .hay
    &__block
      height: auto
      margin-bottom: 100px
      padding-top: 65px
      padding-bottom: 80px
    &__text
      position: relative
      width: calc(100% - 85px)
      top: 0

  .auto
    &__block
      width: 235px
      height: 313px
      margin: 285px auto 0 0
      right: 0
    &__car
      &__border
        width: 235px
        height: 313px
      &__img
        width: 284px
    &__background
      display: none
    &__text
      margin-top: -190px
      margin-right: -290px
      strong
        br
          display: block

  .btn
    &--auto-register
      margin-right: -290px
      bottom: 35px
      width: 290px
      font-size: rem(13)

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
